<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <h1><%= message.user %>'s Message</h1>
    </header>
    <main>
      <p><%= message.text %></p>
      <p><%= message.added %></p>
    </main>

    <a href="/">
      <button>Back to Homepage</button>
    </a>
  </body>
</html>
